 :root {
    --first-: #670A18;
    --section-button: #D37657;
    --section: #F5F1E9;
    --section-place: #FCFAF6;
    --designed: #FBF6EA;
    --header: #D3C5AA;
    --editions: #FCFAF6;
    --text-award: #6E635A;
    --sink: #F5F1E9;
    --footer: #6C674D;

 }

 .mobile-menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    right: 0;
    width: 0;
    height: 100vh;
    z-index: 9999;
    overflow-x: hidden;
    transition: 0.7s ease;
 }

 .fa-xmark {
    color: #ffff;
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 30px;
 }

 .mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .mobile-links a {
    color: #ffff;
    text-decoration: none;
    font-size: 22px;
 }

 .aktiv {
    width: 100%;
 }

 header p.first {
    background-color: #F0EEDD;
    height: 40px;
    display: flex;
    color: var(--first-);
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
 }

 header nav.navbar.navbar-expand-lg {
    height: 82px;
    background-color: var(--header);
 }


 /* .introduction .intro-top-side {
    position: absolute;
    left: 222px; 
     top: 272px; 
 } */

 .introduction .intro-top-side h3 {
    text-decoration: underline;
 }

 .introduction .button {

    background-color: var(--section-button);
    border: none;
    padding: 19px 30px 20px 30px;

 }

 .pies {
    /* height: 212px; */
    background-color: var(--section);

 }



 .pies .shirketlerSlayder {


    justify-content: center;
    align-items: center;

 }

 .place {
    background-color: var(--section-place);
    padding: 100px;
 }


 /* .place .place-left h2 {
    margin-top: 60px;
 } */



 .skillet {
    background-color: var(--designed);
    padding: 70px;
 }

 .skillet .pans {
    /* padding: 40px; */
    margin: 40px;
 }

 .awards-section {
    background-color: var(--editions);
 }

 .awards-section .award {
    color: var(--text-award);


 }
 /* .awards-section {
  display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
 } */

 .awards-section .essentials {
    /* font-size: 2.75rem; */
    padding-top: 49px;
    padding-bottom: 18px;
    ;
 }




 .sekil {
    object-fit: contain;
 }

 .sink {
    background-color: var(--sink);

 }

 .sink button.follow {
    border: none;
    padding: 19px 41px 23px 41px;
    text-transform: uppercase;

 }

 .sink .sink-middle {
    margin: 70px 0;
 }

 .keep-in-touch {
    background-color: var(--footer);
    

 }
 .keep-in-touch .container{
   max-width: 1170px;
   margin: auto;
 }
 .keep-in-touch .row{
   display: flex;
   flex-wrap: wrap;
 }

 .keep-in-touch .footer-col{
   width: 40%;
   padding: 10px 15px;
    margin: 30px 22px; 
} 
 

 .keep-in-touch .footer-col h3{
   font-size: 18px;
    color: #ffff;
   /* margin: 30px 0; */
}
 

 .keep-in-touch a{
   text-decoration: none;
    color: #ffff;
 }

 /* .form-container{
   display: flex;
   justify-content: center; */
 /* } */

 .keep-in-touch button.submit {
    border: none;
    background-color: #ffff;
    /* padding: 23px 20px; */
    text-transform: uppercase;
 }

 @media(min-width:700px) {
    .introduction .intro-top-side {
       position: absolute;
       left: 322px;
       top: 228px;
    }

    .introduction .intro-top-side h3 {
       margin-bottom: 78px;
       text-align: start;
    }

    .introducion .intro-back-side img {
       width: 1440px;
       display: block;
       margin: auto;
    }

    .place .place-right p {
       /* margin-top: 19px;  */
       font-size: 14px;
    }

    

 }

 @media(max-width:420px) {
    .introduction .intro-top-side {
       position: absolute;
       left: 32px;
       top: 62px;

    }
    .introduction .intro-top-side {
      position: absolute;
      left: 49px;
      top: 80px;
   }
   
    .introduction .intro-top-side h3 {
       margin-bottom: 10px;
       text-align: start;
    }
 }